body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 2px 8px 3px;
    border: 1px solid #808080;
}

th {
    padding: 0px 8px 3px;
    border-bottom: 1px solid black;
}

ul.nav {
    list-style: none;
    padding: 0;
    display: inline-block;
}

    ul.nav li {
        display: inline-block;
        margin-right: 15px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: red;
        padding: 3px 10px;
        color: white;
    }

#signedInAs {
    display: inline-block;
    margin-left: 0.5in;
}

#content section {
    display: none;
}

form label {
    display: block;
}

.column {
    display: inline-block;
    margin-right: 0.25in;
    vertical-align: top;
}

#ratedPlayers {
    margin-top: 0.25in;
}
